html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Comfortaa", cursive, san-serif;
}

header {
  text-align: center;
  background-color: purple;
  padding: 10px;
}

.tns-outer {
  /* display: flex;
  justify-content: center; */
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

header .img-wrapper img {
  max-width: 100%;
  display: block;
}

.tns-controls,
.tns-nav,
button[data-action="stop"],
button[data-action="start"] {
  display: none;
}

nav ul {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  margin: 0;
  padding: 0;
  background-color: #c77dff;
  color: #240046;
}

nav ul li {
  list-style: none;

  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li:hover {
  background-color: #240046;
  color: #c77dff;
}

nav ul li a {
  display: block;

  padding: 10px;
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #3c096c;
  color: #e5c1fa;
}

footer a {
  color: #64dfdf;
  text-decoration: none;
}

#footer-content h3 {
  padding: 3px;
}

#footer-content ul {
  padding: 0;
  margin: 0;
}

#footer-content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#footer-content ul li {
  list-style: none;
}

.footer-div {
  width: 300px;
}

.social .icon {
  font-size: 2em;
  padding: 5px;
}

.social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social ul li {
  padding: 5px;
}

.copy {
  text-align: center;
  color: #80ffdb;
}
