html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Comfortaa", cursive, san-serif;
}

header {
  text-align: center;
  background-color: purple;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  margin: 0;
  padding: 0;
  background-color: plum;
  color: purple;
}

nav ul li {
  list-style: none;

  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li:hover {
  background-color: purple;
  color: plum;
}

nav ul li a {
  display: block;

  padding: 10px;
  text-decoration: none;
  color: inherit;
}

/* nav ul li a:hover {
  color: plum;
} */

#footer-content h6,
#footer-content ul {
  padding: 0;
  margin: 0;
}

#footer-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#footer-content ul li {
  list-style: none;
}

.copy {
  text-align: center;
}
